@import '../../styles/colors.module.scss';

.main-section {
  display: flex;
  flex-direction: column;

  margin: 15px;
  padding: 0 18px;

  background: $surface_primary3;
  border-radius: 25px;

  width: calc(100vw - 260px);
}