@import "../../styles/colors.scss";

.main-section {
  display: flex;
  flex-direction: column;

  margin: 15px;
  padding: 0 18px;

  background: $surface_primary3;
  border-radius: 25px;

  width: calc(100vw - 260px);

  &-simple {
    margin: 70px 1vh 10px 1vh;
    width: 87vw;
    height: 100%;
  }
}
