@import "../../styles/variables.scss";

.list-container {
  width: calc(100vw - 270px);

  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &-.dashboard {
    height: 330px;
    width: fit-content;

    flex-wrap: nowrap;
    flex-direction: column;
    gap: 0;
  }

  &-simple {
    width: 100%;
    height: fit-content;
  }
}
