$surface_primary: #fff;
$surface_primary2: #eaebf1;
$surface_primary3: #f2f3f9f2;
$surface_secondary: #52575d;
$surface_blocker: #5f5f5f4d;

$font_primary: #4a4a4a;
$font_secondary: #666a6d;
$font_secondary2: #c4c4c4;
$font_secondary3: #707478;
$font_error: #e07a74;

$logo: #f8eea8;
$user: #dd5f69;
$user_shadow: #d2191947;

$content_blue: #45a6ff;
$content_blue_light: #d4ebff;
$content_red: #d7385e;
$content_red_light: #ffe1e8;
$content_orange: #ff9345;
$content_orange_light: #ffe6d4;
$content_yellow: #ffb800;
$content_yellow_light: #fef8d7;
$content_green: #37d050;
$content_green_light: #daffd4;