@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.card {
  width: 200px;
  height: fit-content;
  padding: 20px;
  margin-bottom: 20px;

  background: $surface_primary;
  border-radius: $base_radius2;

  &-content {
    width: 180px;
    margin: 12px 12px 0 0;

    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.11em;
    color: $font_primary;

    word-break: break-word;
    white-space: pre-line;
  }

  &-header {
    display: flex;
    justify-content: space-between;
  }

  &-name {
    width: fit-content;
    min-height: 17px;
    height: fit-content;
    padding: 4px 11px;
    margin: auto 0;

    word-break: break-word;

    border-radius: $base_radius;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  &-options {
    outline: none;
    border: none;
    background: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 20px;
    margin: 0;

    &:hover {
      cursor: pointer;
    }

    &-dot {
      width: 3.95px;
      height: 3.95px;

      border-radius: $round_radius;
      background: $content_blue_light;
    }
  }

  &-simple {
    width: 98%;

    .card-content {
      width: 94%;
    }
  }
}

.status {
  &-to_do {
    color: $content_red;
    background-color: $content_red_light;
  }

  &-in_progress {
    color: $content_orange;
    background-color: $content_orange_light;
  }

  &-testing {
    color: $content_yellow;
    background-color: $content_yellow_light;
  }

  &-done {
    color: $content_green;
    background-color: $content_green_light;
  }
}
