@import "../../styles/colors.scss";

.body {
  background-color: $surface_secondary;
}

.navigation {
  margin: 1vh auto;
  padding: 10px;
  padding-right: 0;

  width: fit-content;

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  text-align: center;

  &-simple {
    padding: 0;
    gap: 40px;
    justify-content: flex-start;

    position: absolute;
    top: 0;
    z-index: 2;

    width: 100vw;
    height: 100vh;

    background-color: $surface_secondary;
  }

  &-collapsed {
    height: 60px;
  }
}

.items {
  height: fit-content;
}

.logo {
  margin: 0;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  color: $logo;
}

.close {
  position: absolute;
  top: 18px;
  right: 20px;

  background: none;
  outline: none;
  border: none;

  &-icon {
    height: 20px;
  }
}

.open {
  position: absolute;
  top: 18px;
  left: 20px;

  background: none;
  outline: none;
  border: none;

  &-icon {
    height: 20px;
  }
}
