@import '../../../styles/variables.scss';

.icon {
  width: 32;
  height: 31px;
  margin: auto 12px;
  padding-bottom: 5px;
  border-radius: $small_radius;

  &:hover {
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
}