@import "../../../styles/colors.scss";
@import "../../../styles/variables.scss";

$nav_interaction: #ffffff1a;

.link {
  display: flex;
  text-decoration: none;
  width: 180px;
  height: 62px;

  border-radius: $base_radius2;
  margin-bottom: 15px;

  color: $font_secondary2;

  -webkit-user-drag: none;

  & p {
    margin: auto 0;
  }

  &:hover {
    background: $nav_interaction;
    color: $surface_primary;
    cursor: pointer;
  }
}

.active {
  background: $nav_interaction;
  color: $surface_primary;
}

.task-img {
  width: 32;
  height: 31px;
  margin: auto 12px;
  border-radius: $small_radius;
}
