@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';

.form-name {
  font-size: 30px;
  line-height: 55px;

  color: $font_secondary;

  margin-top: 0;
  margin-bottom: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  max-width: 529px;
}

.username,
.password {
  padding: 4px 20px;
  height: 43px;

  outline: none;

  background: $surface_primary3;
  border: 1px solid $font_secondary2;
  box-sizing: border-box;
  border-radius: $base_radius;

  font-size: 18px;
  line-height: 33px;
  color: $font_secondary3;

  &::placeholder {
    color: $font_secondary2;
  }
}


.tips {
  margin: 0;
  font-size: 12px;
  color: $font_secondary3;
}

.submit-button {
  outline: none;
  border: none;
  background: none;

  height: 50px;

  background: $font_secondary;
  border: 1px solid $surface_primary2;
  box-sizing: border-box;
  border-radius: $base_radius;

  font-size: 23px;

  color: $surface_primary;

  &:hover {
    cursor: pointer;
  }
}