@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $surface_blocker;
}

.new-task {
  position: absolute;
  top: 15%;
  left: 30%;
  right: 30%;
  z-index: 3;

  flex-direction: column;
  justify-content: center;

  width: 350px;
  height: fit-content;

  background: $surface_primary;
  border-radius: 35px;

  padding: 25px 30px;

  &-name {
    height: 42px;
    margin-bottom: 12px;
  }

  &-content {
    min-height: 40px;
    height: fit-content;
  }

  &-simple {
    left: 0;
    right: 0;
    width: 84%;

    .new-task-content {
      width: 100%;
    }
  }
}

.new-task-name,
.new-task-content {
  padding: 4px 20px;

  outline: none;
  resize: none;

  background: $surface_primary3;
  border: 1px solid $font_secondary2;
  box-sizing: border-box;
  border-radius: $base_radius;

  font-size: 18px;
  color: $font_secondary3;

  &::placeholder {
    color: $font_secondary2;
  }
}
