.slogan {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;

  color: #666a6d;

  border-left: 4px solid #666a6d;
  padding-left: 25px;
  margin-bottom: 100px;
  width: 500px;
}

.welcome {
  font-size: 36px;
  line-height: 66px;

  color: #4a4a4a;

  margin-bottom: -15px;
}
