@import './styles/colors.scss';

.container {
  display: flex;
  height: 100vh;
  background-color: $surface_primary2;
}

.with-navigation {
  display: flex;
  height: 100vh;
  background-color: $surface_secondary;
}