@import "./styles/colors.scss";

.container {
  display: flex;
  height: 100vh;
  background-color: $surface_primary2;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.with-navigation {
  display: flex;
  height: 100vh;
  background-color: $surface_secondary;
}
