@import "./styles/colors.scss";

.container {
  display: flex;
  height: 100vh;
  background-color: $surface_primary2;

  overflow: hidden;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.with-navigation {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $surface_secondary;

  &-wide {
    flex-direction: row;
  }
}
